<% if current_student.try(:admin?) %>

	<h1>Editing Course</h1>

	<%= render 'form', course: @course %>

	<%= link_to 'Show', @course %> |
	<%= link_to 'Back', courses_path %>

<% else %>
	
	<%= render 'shared/auth_error' =%>

<% end %>
