<% if student_signed_in? && ( (current_student.email == @application.Student_Email) || current_student.try(:admin)) %>

	<h1>Editing Application</h1>

	<%= render 'form', application: @application %>

	<%= link_to 'Show', @application %>

	<% if current_student.try(:admin?) || current_student.try(:teacher)%>
	<%= link_to 'Back', admin_interface_index_path  %>
	<% end %>

<% else %>

  <%= render 'shared/auth_error' =%>

<% end %>
